{{ define "header" }}
  {{ partial "site-header.html" . }}
{{ end }}

{{ define "main" }}
<div class="flex mt2 mw8 center ph3">

  <article class="contact center cf mw7">
    <h2 class="contact_title">
    Contribute or Contact Us
    </h2>
    <p>To get in touch with the EA Hub Resources team please fill in the form below or email <a href="mailto:catherine@eahub.org">Catherine</a>.</p>
    <p>We would love to have more community members contribute to the EA Hub Resources.
      To add resources, make suggestions for changes, or join our team, read our
      <a target="_blank" href="https://docs.google.com/document/d/18S2AG9RgFQD9GTCBbBcFVrgZNh7UuMsayTp--jDLDqY/edit">
        information on how to contribute
      </a>.
    </p>
    <form id="form" name="lean-form" method="POST" data-netlify="true" class="contact_form">
      <input name="first_name" placeholder="Your first name" class="contact_form_field">
      <input name="last_name" placeholder="Your last name" class="contact_form_field">
      <input name="email" placeholder="Your email" class="contact_form_field">
      <textarea name="body" placeholder="Your message" class="contact_form_body"></textarea>
      <div class="contact_btn_wrapper">
        <button type="button" onclick="submitForm(); return false;">Submit</button>
      </div>
    </form>
    <div id="contact-error" style="display: none">
      Sorry, something went wrong
    </div>
    <div id="contact-success" style="display: none">
      Thanks, we have received your message
    </div>
  </article>
</div>
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous">
</script>
<script src="/js/contact.js"></script>


{{ end }}
