{{ define "header" }}
  {{ partial "site-header.html" . }}
{{ end }}

{{ define "main" }}
<div class="flex mt2 mw8 center ph3 contact">

  <article class="center cf pv5 mw7">
    <h2 class="contact_title">
    Send us a message
    </h2>
    <form id="form" name="lean-form" method="POST" data-netlify="true" class="contact_form">
      <input name="first_name" placeholder="Your first name" class="contact_form_field">
      <input name="last_name" placeholder="Your last name" class="contact_form_field">
      <input name="email" placeholder="Your email" class="contact_form_field">
      <textarea name="body" placeholder="Your message" class="contact_form_body"></textarea>
      <button type="button" class="contact_form_submit" onclick="submitForm(); return false;">Submit</button>
    </form>
  </article>
</div>
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous">
</script>
<script src="/js/contact.js"></script>


{{ end }}
