{{ define "header" }}
  {{ partial "site-header.html" . }}
{{ end }}

{{ define "main" }}
<div class="flex mt2 mw8 center ph3">

  <article class="center cf pv5 mw7">

    <div class="nested-copy-line-height lh-copy f4 nested-links nested-img mid-gray">
      {{ .Content }}
    </div>
    <div class="about_emails">

      <a class="about_emails_btn about_tech" href="mailto:{{ .Params.techSupportEmail.email }}">
        {{ .Params.techSupportEmail.linktext }}
      </a>

      <a class="about_emails_btn about_suggestions" href="mailto:{{ .Params.suggestionsEmail.email }}">
        {{ .Params.suggestionsEmail.linktext }}
      </a>

    </div>
    <img class="about_img" src="{{ .Params.Image }}" />
  </article>
</div>
{{ end }}
