<header class="header" style="background-image: url('{{ .Site.Params.featured_image }}');">
  <div class="header_shadow">
    {{ partial "site-navigation.html" .}}
    {{ if .Params.description }}
    <div class="header_text_landing">
    {{ else }}
    <div class="header_text_section">
    {{ end }}
      <div class="block">
        <h1 class="fw2 header_title white-80">
          {{ .Title | default .Site.Title }}
        </h1>
      </div>
      <div class="block">
      {{ with .Params.description }}
        <h2 class="fw1 header_subtitle white-80 center">
          {{ . }}
        </h2>
      {{ end }}
      </div>
      </div>
  </div>

    {{ template "_internal/google_analytics.html" . }}

</header>
