<div class="site-menu site-menu-mobile">
  <ul>
  {{ range $indexCategory, $category :=  .Site.Sections.ByWeight }}
    {{ if ne $category.Params.drop_down false }}
    <li class="site-menu-category">
      <div class="site-menu-heading">
        <h5>{{ $category.Title }}</h5>
        {{ if .Sections }}
        <span class="site-menu-item-toggle caret" data-target="site-menu-mobile-sections-{{$indexCategory}}" />
        {{ end }}
      </div>
      <ul class="site-menu-sections" id="site-menu-mobile-sections-{{$indexCategory}}" style="display: none">
          {{ range $indexSection, $section := .Sections }}
            <li>
              <div class="site-menu-heading">
                <a href="{{ .URL }}">
                  {{ $section.Title }}
                </a>
                {{ if $section.Paginator.Pages }}
                <span
                  class="site-menu-item-toggle caret"
                  data-target='site-menu-mobile-articles-{{$indexCategory}}-{{$indexSection}}'
                />
                {{ end }}
              </div>
              <ul class="site-menu-articles" id="site-menu-mobile-articles-{{$indexCategory}}-{{$indexSection}}" style="display: none">
              {{ range $article := $section.Paginator.Pages }}
                <li><a href="{{ $article.URL }}">{{ $article.Title }}</a></li>
              {{ end }}
              </ul>
            </li>
          {{ end }}
      </ul>
    </li>

    {{ end }}
  {{ end }}
  <ul>
</div>
