<div class="site-menu site-menu-mobile">
  <ul>
  {{ range $indexCategory, $category :=  .Site.Sections.ByWeight }}
    {{ if ne $category.Params.drop_down false }}
    <li class="site-menu-category">
      <div class="site-menu-heading">
        <a href={{ $category.URL }}>
          <h5>{{ $category.Title }}</h5>
        </a>
        {{ if $category.Paginator.Pages }}
        <span class="site-menu-item-toggle caret" data-target="site-menu-mobile-sections-{{$indexCategory}}" />
        {{ end }}
      </div>
      <ul class="site-menu-sections" id="site-menu-mobile-sections-{{$indexCategory}}" style="display: none">
          {{ range $section := $category.Pages.ByWeight }}
          {{ if not (in .URL "/article")  }}
          <li>
            <div class="site-menu-heading">
              <a href="{{ .URL }}">
                {{ $section.Title }}
              </a>
            </div>
          </li>
          {{ end }}
        {{ end }}
      </ul>
    </li>

    {{ end }}
  {{ end }}
  <ul>
</div>
