
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button id="menu-burger" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="\"><img id="logo" src="/img/logo_transparent.png" /></a>
        <h4> /Resources </h4>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="https://eahub.azurewebsites.net/profile"><i class="fa fa-user"></i>My Profile / Log In</a></li>
            <li><a href="https://eahub.azurewebsites.net/profile/signup/"><i class="fa fa-user-plus"></i> Sign Up</a></li>
            <li><a href="https://eahub.azurewebsites.net/profiles"><i class="fa fa-users"></i> Profiles</a></li>
            <li><a href="https://eahub.azurewebsites.net/groups"><i class="fa fa-globe"></i> Groups</a></li>
            <li class="dropdown">
              <a href="#" id="more-btn" class="dropdown-toggle hover_scale" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More <span class="caret"></span></a>
              <ul id="more-menu" class="dropdown-menu">
              {{ range .Site.Sections.ByWeight }}

                {{ if ne .Params.drop_down false }}
                <li><a href="{{ .URL }}">
                  {{ .Title }}
                </a></li>
                {{ end }}
              {{ end }}
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <div class="jumbotron">
  <div class="container">
    <h2 class="text-center">{{ .Title | default .Site.Title }}</h2>
      {{ with .Params.description }}
        <h4 class="banner-caption">
          {{ . }}
        </h4>
      {{ end }}
  </div>
  </div>

</div>
<script src="/js/banner.js"></script>
    {{ template "_internal/google_analytics.html" . }}
