<div class="site-menu site-menu-desktop">
  <h4>MENU</h4>
  <ul>
  {{ range $indexCategory, $category :=  .Site.Sections.ByWeight }}
    {{ if ne $category.Params.drop_down false }}
    <li class="site-menu-category">
      <div class="site-menu-heading">
        <h5>{{ $category.Title }}</h5>
        {{ if $category.Paginator.Pages }}
        <span class="site-menu-item-toggle caret" data-target="site-menu-sections-{{$indexCategory}}" />
        {{ end }}
      </div>
      <ul class="site-menu-sections" id="site-menu-sections-{{$indexCategory}}" style="display: none">
          {{ range $indexSection, $section := $category.Paginator.Pages.ByWeight }}
            <li>
              <div class="site-menu-heading">
                <a href="{{ .URL }}">
                  {{ $section.Title }}
                </a>
              </div>
            </li>
          {{ end }}
      </ul>
    </li>

    {{ end }}
  {{ end }}
  <ul>
</div>
