{{ define "header" }}
  {{ partial "site-header.html" . }}
{{ end }}

{{ define "main" }}
<div class="flex mt2 mw8 center ph3 contact">

  <article class="center cf pv5 mw7">
    <h2 class="contact_title">
    Send us a message
    </h2>
    <form name="contact" method="POST" data-netlify="true">
      <input name="first_name" placeholder="Your first name" class="contact_form_field">
      <input name="last_name" placeholder="Your last name" class="contact_form_field">
      <input name="email" placeholder="Your email" class="contact_form_field">
      <textarea name="body" placeholder="Your message" class="contact_form_body"></textarea>
      <button type="submit">Send</button>
    </form>
    <form id="lean-form" class="contact_form">
      <input name="first_name" placeholder="Your first name" class="contact_form_field">
      <input name="last_name" placeholder="Your last name" class="contact_form_field">
      <input name="email" placeholder="Your email" class="contact_form_field">
      <textarea name="body" placeholder="Your message" class="contact_form_body"></textarea>
      <input type="submit" value="Submit" class="contact_form_submit">
    </form>
  </article>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/js/form.js"></script>
</div>
{{ end }}
