{{ define "main" }}
    <!-- Carousel -->
    <section class="flex-ns flex-wrap justify-around mt5 carousel">
      {{ range .Sections.ByWeight }}
        {{ if .Params.carousel }}
        <div class="carousel_containers">
          <a class="carousel_links" href="{{ .URL }}">
            <img class="carousel_links_img" src={{ .Params.link_image }} />
            <div class="carousel_links_text">{{ .Title }}</div>
          </a>
        </div>
        {{ end }}
      {{ end }}
    </section>

    <!-- Main Body -->
    <div class="landing_main">

    <!-- Selection of popular articles -->
    <div class="landing_columns">
      <div class="landing_item landing_item_popular">
      <h2 class="landing_headings flex-none">Selection of Popular Articles</h2>
      {{ range .Pages }}
        {{ if eq .Params.Tag "popular" }}
        <div class="popular_card">
        <a href="{{ .URL }}">
          <h1 class="f3 fw1 athelas popular_title">
            <div class="dim link"> {{ .Title }}</div>
          </h1>
          <p class="f6 lh-copy mv0">By {{ .Params.Author }}</p>
        </a>
        </div>
        {{ end }}
      {{ end }}
      </div>
    </div>

    <div class="landing_columns">
      <!-- Action links -->
      <div class="landing_item">
      <h2 class="landing_headings flex-none">Actions</h2>
        {{ range .Params.actionLinks }}
          <div class="action_links">
            <a target="_blank" href="{{ .url }}">
              <div class="color-inherit">{{ .name }}</div>
            </a>
          </div>
        {{ end }}
      </div>

      <div class="landing_item">
      <h2 class="landing_headings flex-none">{{ .Params.calendar.title }}</h2>
        <a class="color-inherit dim link" target="_blank" href="{{ .Params.calendar.url }}">
          <img width="150px" src="{{ .Params.calendar.imageLink }}"></img>
        </a>
      </div>
    </div>

    </div> <!-- end of Main Body -->

{{ end }}
