{{ define "main" }}
<div class="landing">

  <h1>{{ .Title }}</h1>
  <div class="landing_description">
    {{ .Content }}
  </div>

  <div class="landing_menu">

    <h2>Resources for Aspiring Effective Altruist</h2>
    <div class="landing_row">
    {{ range .Sections.ByWeight }}
      {{ if .Params.resourceForIndividuals }}
          <div class="landing_menu_section">
            <a href="{{ .URL }}">
            <img src="{{ .Params.Pictogram }}" />
            <h4>{{ .Title }}</h4>
            </a>
          </div>
      {{ end }}
    {{ end }}
    </div>

    <h2>Resources for EA Groups</h2>
    <div class="landing_row">
    {{ range .Sections.ByWeight }}
      {{ if .Params.resourceForGroups }}
          <div class="landing_menu_section">
            <a href="{{ .URL }}">
            <img src="{{ .Params.Pictogram }}" />
            <h4>{{ .Title }}</h4>
            </a>
          </div>
      {{ end }}
    {{ end }}
    </div>
  </div>

</div>

{{ end }}
