@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);

body {
  padding-top: 50px;
}

.mark {
  background-color: #bce0db;
  padding: 0;
  margin: 0;
}

a:hover {
  opacity: 0.5
}

.article {
  padding-right: 80px;
  padding-left: 50px;
}

.article a {
  color: #49776f !important; /* EAHub Resources Link color */
  text-decoration: underline;
}

.article_author {
  font-style: italic;
  margin-top: 20px;
}

.article_container {
  padding-right: 100px;
  padding-left: 100px;
}

.article_image {
  max-height: auto;
  max-width: 200px !important;
  margin-right: auto;
  margin-left: auto;
}

.large_image_wrapper {
  text-align: center;
}

.xl_image_wrapper {
  text-align: center;
}

.xl_image_wrapper img {
  width: 100%;
}

.small_image {
  float: left;
  width: 30%;
  min-width: 100px;
  padding-right: 10px;
}

.small_image_block {
  display: block;
  width: 30%;
  min-width: 100px;
  padding-right: 10px;
}

.article_keyquote {
  background-color: #A7DBAB; /* EAHub green */
  padding: 10px;
  color: black;
  font-size: 24px;
  text-align: center;
}

.article_license {
  font-style: italic;
}

.article_original {
  font-style: italic;
  margin-bottom: 10px;
}

.article_related_heading {
  color: #635274;
}

.article_related_list {
  display: inline-block;
}

.article_title {
  color: #635274;
  font-weight: bold;
}

.article_video {
  width: 420px;
  height: 310px;
  max-width: 100%;
}

.bg-black-box {
  background-color: black;
  display: inline-block;
  padding: 3px;
}

.bodyClass {
  background-color: #F4F4F4;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
}

.contact a {
  color: #49776f !important; /* EAHub Resources Link color */
  text-decoration: underline;
}

.textAlignCenter {
  text-align: center;
}

.contact_form {
  width: 300px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.contact_form_field {
  display: block;
  margin-bottom: 10px;
  width: 98%;
  height: 30px;
}

.contact_form_body {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  resize: none;
  height: 200px;
  text-align: left;
}

.contact_btn_wrapper {
  text-align: right;
}

.contact_btn_wrapper button {
  background-color: #635274;
  border: none;
  color: white;
  padding: 10px 10px 10px 10px;
}

#contact-error {
  background-color: #E4F5B1;
  color: black;
  font-weight: normal;
  margin-top: 20px;
  padding: 10px;
}

#contact-success {
  background-color: #A7DBAB;
  border: none;
  color: black;
  font-weight: normal;
  margin-top: 20px;
  padding: 10px;
}

.contact_title {
  color: #635274;
  margin-bottom: 30px;
  text-align: center;
}

.content {
  background-color: #fff;
  min-height: 85vh;
  overflow: hidden;
  padding-bottom: 50px;
  padding-left: 10px;
  padding-right: 10px;
  width: auto;
}

.drop_down {
  position: relative;
  float: right;
  top: 10px;
  text-align: right;
}

.error404 {
  text-align: center;
  height: 75vh;
}

.f3 p, .f3 li {
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* bootstrap sticky footer */
.footer {
  position: relative;
  display: block;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #512B52;
  color: #fff;
  padding: 10px;
}
.footer a{
  color: #fff;
  text-decoration: underline;
}
.footer a:hover{
  opacity: 0.7;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

.header {
  height: 400px;
  background-size: cover;
  background-position: 0px -10px;
  background-repeat: repeat;
  display: block;
  margin-left: -10px;
  text-align: center;
}

.header_page {
  background-color: #7BB0A8; /* EAHub Banner green */
  height: 240px;
}

.header_page_title {
  margin-top: -100px;
  font-size: 54px;
}

.header_text_landing {
  margin-top: -200px;
  text-align: center;
}

.header_text_section {
  margin-top: -150px;
  text-align: center;
}

.header_title {
  font-size: 54px;
  margin-top: 60px;
  margin-bottom: 30px;
}

.header_subtitle {
  font-size: 24px;
}

#menu_burger {
  display: inline-block;
  margin: 0px 0 10px 0;
  cursor: pointer;
}

#burger-btn:hover {
  background-color: #d6d2d2;
}

.landing {
  display: block;
}

.landing_columns {
  min-width: 50%;
  text-align: center;
}

.landing_item {
  text-align: left;
  display: inline-block;
  width: 80%;
  padding: 0px 10px 20px 30px;
  text-align: left;
  display: inline-block;
  width: 80%;
}

.landing_item_popular {
  background-color: #E8E8E8;
  border-radius: 5px;
}

.landing h1 {
  color: #635274;
  text-align: center;
  margin-bottom: 20px;
}

.landing_description {
  max-width: 700px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.landing_description a {
  color: #49776f !important; /* EAHub Resources Link color */
  text-decoration: underline;
}

.landing_menu {
  margin-left: 50px;
  margin-right: 50px;
}

.landing_menu h2 {
  color: #635274;
  margin-bottom: 20px;
  text-align: center;
}

.landing_menu_category {
  display: block;
}

.landing_menu_category h2 {
  color: #635274;
  margin-bottom: 25px;
  text-align: center;
}

.landing_menu_section {
  display: inline-block;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 20px;
  width: 200px;
}

.landing_menu_section a:hover {
  color: #635274 !important;
  text-decoration: none;
}

.landing_menu_section h4 {
  color: #635274;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}

.landing_menu_section img {
  width: 150px;
  height: 150px;
}

.landing_row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main .col-lg-2, .col-lg-10 {
  padding-left: 0;
  padding-right: 0;
}

.main-text-colour {
  color: #262626;
}

.menu_bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
}

.menu_icon {
  color: white;
}

/* container */
.container{
  max-width: 900px;
}

/* nav */
#navbar {
  width: 250px;
}
.navbar h4 {
  color: white;
  display: inline-block;
  font-size: 22px;
  margin-top: 12px;
  padding-left: 5px;
}
.navbar img {
  width: 100px;
  height: auto;
  margin-bottom: 8px;
}
.navbar li {
  float: none;
}
.navbar li a {
  padding: 5px 15px 5px 0px;
  color: white;
  text-decoration: none;
}
.navbar .home {
  font-size: 18px;
  margin-top: 15px;
  margin-left: -5px;
}
.navbar .container {
  z-index: 20;
}
.navbar .logo {
  margin-top: 12px;
}
.navbar .logo_full {
  margin-top: 2px;
  width: 220px
}
.navbar .logo_with_page_name {
  margin-top: 0px;
}
.navbar hr {
  margin: 0px 5px 5px 5px;
}

.navbar-header {
  background-color: #7bb0a8;
  float: none;
}
.navbar-inverse {
  background-color: transparent;
}
.navbar-inverse .navbar-nav > li > a{
  color: #fff;
}
.navbar-inverse{
  border: none;
}

.navbar-menu {
  background-color: rgba(81, 43, 82, 0.9);
  border-radius: 5px;
  color: #fff;
  display: none;
  float: right;
  margin-right: 25px;
  padding-left: 20px;
  padding-right: 5px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.navbar-menu a {
  margin-right: -5px;
}

.navbar-menu ul {
  margin-left: 5px;
}

.navbar-nav {
  display: inline-block;
  float: none!important;
  margin-right: 0px !important;
  margin-top: 7.5px;
  margin-bottom: 10px;
  text-align: right;
  width: 100%;
}
.navbar-nav li a {
  padding-right: 20px;
}

.navbar-toggle {
  border: none;
  display: inline-block;
  float: right !important;
  margin-top: 10px;
}

.navbar-right {
  float: none !important;
}

.navbar-right ul {
  padding-inline-start: 20px;
}

.search-bar {
  display: inline-block;
  float: right;
  margin-right: 30px;
  margin-top: 14px;
}

#logo_home_desktop {
  display: inline-block;
}
#logo_home_mobile {
  display: none;
}

/* jumbotron */
.jumbotron{
  background-color: #7bb0a8;
  color: #fff;
  padding-top: 0;
  padding-bottom: 0;
}
.jumbotron img{
  width: 100%;
  margin-top: 20px;
  margin-bottom: 0;
}
.jumbotron h4{
  margin-top: 20px;
  margin-bottom: 20px;
}
.jumbotron h4 {
  text-align: center;
  font-style: italic;
}

.navbar .dropdown-menu {
  display: none;
}

.popular_card a {
  text-decoration: none;
  color: black;
}

.purple {
  color: #635274;
}

.popular_title {
  margin-bottom: 10px;
  font-weight: 400;
}

.site-menu {
  max-height: calc(100vh - 9rem);
  overflow-y: auto;
  padding-top: 10px;
  padding-left: 10px;
}

.site-menu h4, h5 {
  display: inline-block;
  margin-top: 0px;
}

.site-menu ul {
  padding-inline-start: 10px;
}

.site-menu .caret {
  border-top: 8px dashed;
  border-top: 8px solid;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  margin-top: 6px;
  margin-left: 5px;
}

.site-menu .caret-up {
  transform: rotate(180deg)
}

.site-menu .caret:hover {
  cursor: pointer;
}

.site-menu-category {
  list-style: none;
  padding-right: 20px;
  margin-bottom: 10px;
}

.site-menu-category .selected {
  font-weight: bold;
}

.site-menu-heading {
  display: flex;
  align-items: flex-start;
}

.site-menu-heading h5:hover {
  text-decoration: underline;
}

.site-menu-item-toggle {
  margin-left: 5px;
}

.site-menu-desktop {
  color: #635274;
  display: block;
  float: left;
  max-width: 220px;
  position: sticky;
  top: 50px;
}

.site-menu-desktop a {
  color: #635274;
}

.site-menu-mobile {
  display: none;
  color: white;
  text-align: right;
}

.site-menu-mobile h4 {
  display: none;
}
.site-menu-mobile h5 {
  margin: 0px;
}

.site-menu-mobile li:hover {
  transform: none;
}

.site-menu-mobile li a {
  color: white;
  padding: 0 5px 0 0;
  text-align: right;
  width: 100%;
}

.site-menu-mobile .caret {
  margin-top: 0px;
}

.site-menu-mobile .site-menu-articles a {
  font-size: 11px;
}

.site-menu-mobile .site-menu-heading {
  display: block;
}

.site-menu-mobile .site-menu-sections {
  margin-top: 5px;
}

.site-menu-sections li {
  list-style: none;
  font-size: 12px;
  margin-bottom: 5px;
}

.site-menu-sections li a {
  padding-right: 5px;
  margin-bottom: 10px;
}

.site-menu-mobile .site-menu-sections li a {
  margin-bottom: 0;
}

/* mobile responsive */
@media(max-width: 768px) {

  body {
    padding-top: 90px;
  }

  .article {
    padding-left: 20px;
    padding-right: 20px;
  }

  .article_keyquote {
    font-size: 18px;
  }

  .banner-caption {
    font-size: 13px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .banner-drop-down-link {
    color: black
  }

  .banner-drop-down-links {
    background-color: rgba(220,220,220,0.7); /*light-grey*/
    margin-right: 5px;
    margin-top: 10px;
    visibility: hidden;
  }

  .banner-drop-down-links li {
    float: none !important;
  }

  .banner-header-large {
    background-image: url("/img/LandingBanner_short.png");
    background-position: center 10px;
    background-size: cover;
    height: 260px;
  }

  .banner-menu-burger {
    display: block;
    margin-right: 25px;
    margin-top: 13px;
    cursor: pointer;
    float: right;
  }

  .banner-title {
    font-size: 24px;
    margin-top: 125px;
  }

  .contact_form {
    max-width: 250px;
  }

  .footer {
    height: 80px;
  }

  .header {
    background-position: center 50px;
    margin-top: -10px;
    margin-left: -10px;
    text-align: center;
    height: 440px;
  }

  .header_page {
    height: 340px;
  }

  .header_page_title {
    font-size: 36px;
    margin-top: 0px;
  }

  .header_subtitle {
    font-size: 14px;
  }

  .header_title {
    font-size: 36px;
    margin-bottom: -10px;
    margin-top: -20px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .header_text_landing {
    margin-top: 5px;
    padding-left: 5px;
    text-align: center;
  }

  .header_text_section {
    margin-top: 10px;
    text-align: center;
  }

  .landing_columns {
    width: 100%;
  }

  .landing_menu {
    margin-left: 10px;
    margin-right: 10px;
  }

  .landing_menu_category h2 {
    font-size: 24px;
    color: #635274;
  }

  .landing_row {
    display: block;
    text-align: center;
  }

  .navbar h4 {
    font-size: 20px;
    margin-top: 14px;
  }

  .navbar .container {
    max-height: 90vh;
    overflow: scroll;
  }

  .navbar-signup-md {
    display: none;
  }

  .navbar-signup-xs {
    display: block !important;
  }

  #logo_home_desktop {
    display: none;
  }
  #logo_home_mobile {
    display: inline-block;
  }

  .content {
    width: 100%;
  }

  .site-menu-desktop {
    display: none;
  }

  .site-menu-mobile {
    display: block;
  }

}
