@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);

.about_img {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.about_emails {
  text-align: center;
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
  margin-top: 40px;
}

.about_emails_btn {
  text-decoration: none;
  color: white;
  width: 150px;
  height: 70px;
  padding: 4px 4px 4px 4px;
  font-size: 18px;
}

.about_tech {
  background-color: #A7DBAB;
  line-height: 60px;
}

.about_suggestions {
  background-color: #635274;
  line-height: 30px;
}

.action_links {
  display: block;
  margin-bottom: 10px;
}

.article_author {
  font-style: italic;
}

.article_container {
  padding-right: 100px;
  padding-left: 100px;
}

.article_image {
  max-height: 400px;
  max-width: 600px !important;
  margin-right: auto;
  margin-left: auto;
}

.article_original {
  font-style: italic;
  font-size: 80%;
  margin-bottom: 10px;
}

.article_license {
  font-style: italic;
  font-size: 80%;
}

.article_meta {
  margin-bottom: 20px;
}

.article_keyquote {
  background-color: #635274;
  padding: 10px;
  color: #F5F5F5;
  font-size: 24px;
  font-weight: ;
  text-align: center;
  border-radius: 5px;
}

.article_related_heading {
  color: #635274;
}

.article_related_list {
  display: inline-block;
}

.bg-black-box {
  background-color: black;
  display: inline-block;
  padding: 3px;
}

.bodyClass {
  font-family: 'Open Sans', sans-serif;
}

.drop_down {
  margin-top: -60px;
  text-align: right;
}

.footer {
  background-color: #512B52;
  display: block;
  text-align: center;
}

.footer_license {
  margin-top: 15px;
}

.footer_license a {
  color: hsla(0,0%,100%,.7);
  text-decoration: none;
}

.footer_license a:hover {
  opacity: 0.5;
}

.header {
  height: 400px;
  background-position: -30px 110px;
  background-repeat: repeat;
  text-align: center;
}

.header_text_landing {
  margin-top: -200px;
  text-align: center;
}

.header_text_section {
  margin-top: -150px;
  text-align: center;
}

.header_title {
  font-size: 54px;
  margin-bottom: 40px;
}

.header_subtitle {
  font-size: 24px;

}

input[type=checkbox] {
   position: absolute;
   top: -9999px;
   left: -9999px;
}

input[type=checkbox]:checked ~ .nav_sections {
  visibility: visible;
}

label {
  display: inline-block;
  margin: 60px 0 10px 0;
  cursor: pointer;
}

.logo {
  width: 150px;
}

.landing_main {
  display: flex;
  justify-content: space-between;
}

.landing_columns {
  min-width: 50%;
  text-align: center;
}

.landing_item {
  text-align: left;
  display: inline-block;
  width: 80%;
  padding-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
}

.landing_headings {
  font-size: 32px;
  color: #635274;
}

.menu_bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
}

.menu_icon {
  color: white;
}

.nav_container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.nav_home {
  margin-top: 5px;
  padding-top: 10px;
  background-color: transparent;
  text-align: center;
}

.nav_home_containers {
  margin: 10px 10px 20px 10px;
}

.nav_home_links {
  text-decoration: none;
  color: #635274;
}

.nav_home_links_img {
  max-width: 150px;
}

.nav_home_links:hover {
  opacity: 0.7;
}

.nav_home_links:visited {
  color: #635274;
}

.nav_home_links_text {
  margin-top: 10px;
  text-align: center;
  display: block;
}

.nav_links {
  color: white;
  font-size: 16px;
  padding-left: 10px;
  padding-bottom: 2px;
  text-decoration: none;
  opacity: 0.9;
  display: block;
}

.nav_links:hover {
  opacity: 0.4;
}

.nav_sections {
    visibility: hidden;
    text-align: right;
    text-shadow: 1px 1px black;
}

.popular_title {
  margin-bottom: 10px;
}

.pb7 {
  background-color: #F4F4F4;
}

/* mobile responsive */
@media(max-width: 1000px) {

  .article_container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .article_keyquote {
    font-size: 18px;
  }

  .header {
    background-position: -30px 170px;
    height: 440px;
  }

  .header_subtitle {
    font-size: 18px;
  }

  .header_title {
    margin-top: 0px;
    font-size: 40px;
    margin-bottom: 10px;
  }

  .header_text_landing {
    margin-top: 10px;
    text-align: center;
  }

  .header_text_section {
    margin-top: 10px;
    text-align: center;
  }

  .landing_columns {
    width: 100%;
  }

  .landing_headings {
    font-size: 24px;
    color: #635274;
  }

  .landing_main {
    display: block;
  }

  .nav_links {
    display: block;
    text-align: right;
    font-size: 14px;
  }
}
