.action_links {
  display: block;
  margin-bottom: 10px;
}

.carousel_links {
  text-decoration: none;
  color: #635274;;
}

.carousel_links:hover {
  opacity: 0.7
}

.carousel_links:visited {
  color: #635274;;
}

.carousel_links_text {
  margin-top: 10px;
  text-align: center;
  display: block;
}

.landing_main {
  display: flex;
  justify-content: space-between;
}

.landing_columns {
  min-width: 50%;
  text-align: center;
}

.landing_item {
  text-align: left;
  display: inline-block;
  width: 80%;
  padding-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
}

.nav_container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.nav_sections {
  vertical-align: text-top;
  display: inline-block;
}

.nav_links {
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  opacity: 0.8;
  display: inline-block;
}

.popular_title {
  margin-bottom: 10px;
}


@media(max-width: 1000px) {
  /* navigation vertically listed for mobile */
  .nav_links {
    display: block;
    text-align: right;
    font-size: 14px;
  }

  .landing_main {
    display: block;
  }

  .landing_columns {
    width: 100%;
  }
}
