{{ define "main" }}

  <article class="section">
    <h2>{{ .Title }}</h2>
    <div class="section_description">
        {{ .Description }}
    </div>
    <div class="section_img_container">
      <img src="{{ .Params.Image }}" />
    </div>
    <ul>
      {{ range .Paginator.Pages }}
      <li>
      <section>
        {{ if (ne .Params.block  true) }}
          {{- partial "article_list.html" . -}}
        {{ end }}
      </section>
      </li>
      {{ end }}
    </ul>
    {{- template "_internal/pagination.html" . -}}
  </article>
{{ end }}
